.RightSide{
    display: flex;
    flex-direction: column;
    padding-top: 7rem;
    width: 100%;
    justify-content: top;
}


@media screen and (max-width: 1200px) {
    .RightSide{
        justify-content: flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .RightSide{
        width: 100%;
        margin-top: 0;
    }
    .RightSide>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}