.Hotspots{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100px;;
}


@media screen and (max-width: 1200px) {
    .Hotspots{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .Hotspots{
        align-items: center;
    }
}
